{{ define "main" }}
{{- partial "content/breadcrumb.html" . -}}

<div class="pb-14" data-pagefind-ignore="all">

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    <article class="md:col-span-2 prose lg:prose-lg dark:prose-invert">

    <header class="not-prose mb-14">

      <h1 class="text-4xl font-bold">{{ .Title }}</h1>

    </header>

    <div id="content" class="prose lg:prose-lg dark:prose-invert">

      {{- .Content -}}

    </div>

    </article>

    <aside class="md:col-span-1 hidden md:block">

      {{- partial "content/aside.html" . -}}

    </aside>

  </div>

</div>

{{ end }}
