{{- $system := site.Params.comment.system -}}
{{- $autoLoad := site.Params.comment.autoLoad | default false -}}
{{- if eq $system "giscus" -}}
  {{- $repo := site.Params.comment.giscus.repo -}}
  {{- if $repo }}
<div id="comment" class="rounded-2xl my-8 md:my-14">

	<h2 class="text-xl font-semibold">评论</h2>

	{{- if not $autoLoad }}
	<div class="comment-on flex flex-col md:flex-row items-center mt-8 text-base capitalize print:hidden">
		<div id="load-comment" class="inline-flex items-center relative border border-gray-300 dark:border-border-dimmed-subtle bg-white dark:bg-bg-dimmed-primary rounded-full px-4 py-2 hover:bg-zinc-100 dark:hover:bg-bg-dimmed-secondary">
			<span class="cursor-pointer">点击加载</span>
			<span class="ml-2 mr-1 cursor-pointer"><span class="relative block icon">{{ partial "icon.html" (dict "name" "giscus" "class" "") }}</span></span>
			<span class='opacity-75 hover:opacity-100 cursor-pointer duration-300 ease-in-out'>Giscus</span>
		</div>
	</div>
	{{- end }}
	<div id="comments" class=""></div>
</div>
<script>
	function loadComment() {
		return new Promise((resolve) => {
			const script = document.createElement('script');
			script.src = 'https://giscus.app/client.js';
			script.setAttribute('data-repo', '{{ $repo }}');
			script.setAttribute('data-repo-id', '{{ site.Params.comment.giscus.repoID }}');
			script.setAttribute('data-category', '{{ site.Params.comment.giscus.category }}');
			script.setAttribute('data-category-id', '{{ site.Params.comment.giscus.categoryID }}');
			script.setAttribute('data-mapping', 'pathname');
			script.setAttribute('data-strict', '1');
			script.setAttribute('data-reactions-enabled', '0');
			script.setAttribute('data-emit-metadata', '0');
			script.setAttribute('data-input-position', 'bottom');
			script.setAttribute('data-lang', '{{ site.Params.comment.giscus.lang | default "zh-CN" }}');
			script.setAttribute('data-loading', 'lazy');
			script.setAttribute('crossorigin', 'anonymous');
			script.async = true;

			const htmlElement = document.documentElement;
			if (htmlElement.classList.contains('dark')) {
				script.setAttribute('data-theme', 'dark_dimmed');
			} else {
				script.setAttribute('data-theme', 'light');
			}

			script.addEventListener('load', () => {
				resolve();
			});

			document.getElementById('comments').appendChild(script);
		});
	}

	{{- if $autoLoad }}
	loadComment();
	{{- else }}
	document.getElementById('load-comment').addEventListener('click', async () => {
		await loadComment();
		document.getElementById('load-comment').classList.add('hidden!');
	});
	{{- end }}
</script>
  {{- end }}
{{- else if eq $system "waline" -}}
  {{- $serverURL := site.Params.comment.waline.serverURL -}}
  {{- if $serverURL }}
  {{- $serverURL = strings.TrimSuffix "/" $serverURL -}}
  {{- if not (or (strings.HasPrefix $serverURL "http://") (strings.HasPrefix $serverURL "https://")) -}}
    {{- $serverURL = printf "https://%s" $serverURL -}}
  {{- end -}}
{{- $version := site.Params.comment.waline.version | default "3.0.0" -}}
{{- $cssCDN := site.Params.comment.waline.cdnCSS | default (printf "https://unpkg.com/@waline/client@%s/dist/waline.css" $version) -}}
{{- $jsCDN := site.Params.comment.waline.cdnJS | default (printf "https://unpkg.com/@waline/client@%s/dist/waline.js" $version) -}}
<link rel="stylesheet" href="{{ $cssCDN }}" />
<div id="comment" class="rounded-2xl my-8 md:my-14">

	<h2 class="text-xl font-semibold">评论</h2>

	{{- if not $autoLoad }}
	<div class="comment-on flex flex-col md:flex-row items-center mt-8 text-base capitalize print:hidden">
		<div id="load-comment" class="inline-flex items-center relative border border-gray-300 dark:border-border-dimmed-subtle bg-white dark:bg-bg-dimmed-primary rounded-full px-4 py-2 hover:bg-zinc-100 dark:hover:bg-bg-dimmed-secondary">
			<span class="cursor-pointer">点击加载</span>
			<span class="ml-2 mr-1 cursor-pointer"><span class="relative block icon">{{ partial "icon.html" (dict "name" "chat" "class" "") }}</span></span>
			<span class='opacity-75 hover:opacity-100 cursor-pointer duration-300 ease-in-out'>Waline</span>
		</div>
	</div>
	{{- end }}
	<div id="waline"></div>
</div>
<script>
	function loadComment() {
		return new Promise((resolve) => {
			const script = document.createElement('script');
			script.src = '{{ $jsCDN }}';
			script.onload = () => {
				Waline.init({
					el: '#waline',
					serverURL: '{{ $serverURL }}',
					lang: '{{ site.Params.comment.waline.lang | default "zh-CN" }}',
					pageview: {{ site.Params.comment.waline.pageview | default false }},
					dark: 'html.dark',
				});
				resolve();
			};
			document.body.appendChild(script);
		});
	}

	{{- if $autoLoad }}
	loadComment();
	{{- else }}
	document.getElementById('load-comment').addEventListener('click', async () => {
		await loadComment();
		document.getElementById('load-comment').classList.add('hidden!');
	});
	{{- end }}
</script>
  {{- end }}
{{- else if eq $system "utterances" -}}
  {{- $repo := site.Params.comment.utterances.repo -}}
  {{- if $repo }}
<div id="comment" class="rounded-2xl my-8 md:my-14">

	<h2 class="text-xl font-semibold">评论</h2>

	{{- if not $autoLoad }}
	<div class="comment-on flex flex-col md:flex-row items-center mt-8 text-base capitalize print:hidden">
		<div id="load-comment" class="inline-flex items-center relative border border-gray-300 dark:border-border-dimmed-subtle bg-white dark:bg-bg-dimmed-primary rounded-full px-4 py-2 hover:bg-zinc-100 dark:hover:bg-bg-dimmed-secondary">
			<span class="cursor-pointer">点击加载</span>
			<span class="ml-2 mr-1 cursor-pointer"><span class="relative block icon">{{ partial "icon.html" (dict "name" "github" "class" "") }}</span></span>
			<span class='opacity-75 hover:opacity-100 cursor-pointer duration-300 ease-in-out'>Utterances</span>
		</div>
	</div>
	{{- end }}
	<div id="utterances"></div>
</div>
<script>
	function loadComment() {
		return new Promise((resolve) => {
			const script = document.createElement('script');
			script.src = 'https://utteranc.es/client.js';
			script.setAttribute('repo', '{{ $repo }}');
			script.setAttribute('issue-term', 'pathname');
			script.setAttribute('label', '{{ site.Params.comment.utterances.label }}');
			script.setAttribute('theme', '{{ site.Params.comment.utterances.theme | default "github-light" }}');
			script.setAttribute('crossorigin', 'anonymous');
			script.async = true;

			const htmlElement = document.documentElement;
			if (htmlElement.classList.contains('dark')) {
				script.setAttribute('theme', '{{ site.Params.comment.utterances.darkTheme | default "github-dark" }}');
			}

			script.addEventListener('load', () => {
				resolve();
			});

			document.getElementById('utterances').appendChild(script);
		});
	}

	{{- if $autoLoad }}
	loadComment();
	{{- else }}
	document.getElementById('load-comment').addEventListener('click', async () => {
		await loadComment();
		document.getElementById('load-comment').classList.add('hidden!');
	});
	{{- end }}
</script>
  {{- end }}
{{- else if eq $system "twikoo" -}}
  {{- $envID := site.Params.comment.twikoo.envID -}}
  {{- if $envID }}
  {{- $envID = strings.TrimSuffix "/" $envID -}}
  {{- if not (or (strings.HasPrefix $envID "http://") (strings.HasPrefix $envID "https://")) -}}
    {{- $envID = printf "https://%s" $envID -}}
  {{- end -}}
<div id="comment" class="rounded-2xl my-8 md:my-14">

	<h2 class="text-xl font-semibold">评论</h2>

	{{- if not $autoLoad }}
	<div class="comment-on flex flex-col md:flex-row items-center mt-8 text-base capitalize print:hidden">
		<div id="load-comment" class="inline-flex items-center relative border border-gray-300 dark:border-border-dimmed-subtle bg-white dark:bg-bg-dimmed-primary rounded-full px-4 py-2 hover:bg-zinc-100 dark:hover:bg-bg-dimmed-secondary">
			<span class="cursor-pointer">点击加载</span>
			<span class="ml-2 mr-1 cursor-pointer"><span class="relative block icon">{{ partial "icon.html" (dict "name" "chat" "class" "") }}</span></span>
			<span class='opacity-75 hover:opacity-100 cursor-pointer duration-300 ease-in-out'>Twikoo</span>
		</div>
	</div>
	{{- end }}
	<div id="twikoo"></div>
</div>
<script>
	function loadComment() {
		return new Promise((resolve) => {
			{{- $version := site.Params.comment.twikoo.version | default "1.6.39" -}}
			{{- $twikooCDN := site.Params.comment.twikoo.cdn | default (printf "https://unpkg.com/twikoo@%s/dist/twikoo.all.min.js" $version) -}}
			const script = document.createElement('script');
			script.src = '{{ $twikooCDN }}';
			script.onload = () => {
				twikoo.init({
					envId: '{{ $envID }}',
					region: '{{ site.Params.comment.twikoo.region }}',
					lang: '{{ site.Params.comment.twikoo.lang | default "zh-CN" }}',
				});
				resolve();
			};
			document.body.appendChild(script);
		});
	}

	{{- if $autoLoad }}
	loadComment();
	{{- else }}
	document.getElementById('load-comment').addEventListener('click', async () => {
		await loadComment();
		document.getElementById('load-comment').classList.add('hidden!');
	});
	{{- end }}
</script>
  {{- end }}
{{- else if eq $system "disqus" -}}
  {{- $shortname := site.Params.comment.disqus.shortname -}}
  {{- if $shortname }}
<div id="comment" class="rounded-2xl my-8 md:my-14">

	<h2 class="text-xl font-semibold">评论</h2>

	{{- if not $autoLoad }}
	<div class="comment-on flex flex-col md:flex-row items-center mt-8 text-base capitalize print:hidden">
		<div id="load-comment" class="inline-flex items-center relative border border-gray-300 dark:border-border-dimmed-subtle bg-white dark:bg-bg-dimmed-primary rounded-full px-4 py-2 hover:bg-zinc-100 dark:hover:bg-bg-dimmed-secondary">
			<span class="cursor-pointer">点击加载</span>
			<span class="ml-2 mr-1 cursor-pointer"><span class="relative block icon">{{ partial "icon.html" (dict "name" "comment" "class" "") }}</span></span>
			<span class='opacity-75 hover:opacity-100 cursor-pointer duration-300 ease-in-out'>Disqus</span>
		</div>
	</div>
	{{- end }}
	<div id="disqus_thread"></div>
</div>
<script>
	function loadComment() {
		return new Promise((resolve) => {
			const script = document.createElement('script');
			script.src = 'https://{{ $shortname }}.disqus.com/embed.js';
			script.setAttribute('data-timestamp', +new Date());
			script.addEventListener('load', () => {
				resolve();
			});
			document.body.appendChild(script);
		});
	}

	{{- if $autoLoad }}
	loadComment();
	{{- else }}
	document.getElementById('load-comment').addEventListener('click', async () => {
		await loadComment();
		document.getElementById('load-comment').classList.add('hidden!');
	});
	{{- end }}
</script>
  {{- end }}
{{- end }}
