{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}

    <div class="relative group">
      <ul id="taxonomy" class="not-prose flex items-center space-x-4 flex-nowrap whitespace-nowrap overflow-x-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:'none'] [scrollbar-width:'none']">

        <!-- <li class="font-semibold my-4">{{ $label }}:</li> -->
        {{- range . }}
          <li class="my-4"><a class="py-2 px-6 border border-gray-200 dark:border-border-dimmed-primary rounded-full hover:bg-zinc-100 dark:hover:bg-bg-dimmed-secondary active:bg-zinc-300 dark:active:bg-bg-dimmed-secondary" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
      </ul>
    </div>

{{- end }}
